@use "../abstracts/variables";
@use "../abstracts/mixins";

#contact-us {
  padding: 200px 0 128px;
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      margin-bottom: 16px !important;
      font-weight: 600 !important;
      font-size: 48px !important;
      line-height: 64px !important;
      color: #282938;
    }
    p {
      margin: 0 auto;
      margin-bottom: 32px;
      max-width: 562px;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: #282938;
      opacity: 0.7;
    }
    form {
      width: 1061px;
      margin-top: 32px;
      text-align: start;
      background: #f4f6fc;
      border-radius: 12px;
      padding: 55px 77px 69px;
      display: flex;
      flex-wrap: wrap;
      gap: 31px;
      label {
        margin-bottom: 6px;
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
      }
      input {
        width: 438px;
        padding: 18px 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        outline: none;
        &::placeholder {
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #000000;
        }
        &:focus {
          outline: 1px solid rgb(147, 147, 147);
        }
      }
      .textarea {
        textarea {
          resize: none;
          width: 100%;
          padding: 18px 32px;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #000000;
          border: 1px solid rgba(0, 0, 0, 0.12);
          border-radius: 8px;
          outline: none;
          &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #000000;
          }
        }
        width: 100% !important;
      }
      button {
        @include button ($dark-blue,white,  15px,60px);
        border: none;
        line-height: 32px;
      }
    }
  }
}
@media (max-width:1080px) {
  form {
    width: 100% !important;
    .input {
      width: 100% ;
    }
    input {
      width: 100% !important;
    }
  }
}
@media (max-width:768px) {
  form {
    padding: 20px !important;
    button {
      padding: 20px !important;
      font-size: 15px !important;
      line-height: 0px !important;
      margin:0 auto;
    }
  }
  input {
    padding: 12px 20px !important;
  }
   textarea {
    padding: 12px 20px !important;
   }

}