@use "../abstracts/variables";
@use "../abstracts/mixins";
$royal-blue: #2405f2;
$dark-blue: #282938;
$grey: #f4f6fc;
$yellow: #fcd980;
$tint-blue: #1c1e53;
$navy-grey: #eef4fa;
$mixed-color: #fcd980;
$dark: #000000;
$white: white;

#home__home_section {
  background-color: $tint-blue;
  .home_section__container {
    padding-top: 126px;
    padding-bottom: 128px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    .home_section__left {
      h1 {
        font-weight: 600;
        font-size: 54px;
        line-height: 74px;
        max-width: 582px;
        color: $white;
        margin-bottom: 24px;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #bbbbcb;
        max-width: 562px;
      }
      .home_left__links {
        margin-top: 48px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        button {
          @include button($mixed-color, $dark, 16px, 56px);
          line-height: 32px;
          font-weight: 600;
          border: none;
          color: #1b1c2b;
          margin-right: 40px;
        }
        a {
          display: flex;
          align-items: center;
          span {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: $white;
            margin-right: 16px;
            letter-spacing: 0.3px;
          }
        }
      }
    }
    .home_section__right {
      img {
        max-width: 100%;
      }
    }
  }
  @media (max-width: 1200px) {
    .home_section__container {
      display: flex;
      align-items: center;
    }
  }
  @media (max-width: 1140px) {
    .home_section__container {
      flex-direction: column;
      .home_section__left,
      .home_section__right {
        width: 100%;
      }
      .home_section__left {
        h1 {
          max-width: 100%;
        }
        p {
          max-width: 100%;
        }
      }
      .home_section__right {
        img {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 640px) {
    .home_section__container {
      .home_section__left {
        h1,
        p {
          text-align: center;
        }
      }
    }
  }
  @media (max-width: 490px) {
    #hl-l-important {
      margin-top: 48px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      button {
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }
  }
}
