@use "../abstracts/variables";
@use "../abstracts/mixins";

.container .pricing_text {
  margin: 0 auto;
  margin-top: 300px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 41%;
  padding-bottom: 50px;
}

.cards {
  .cards_container {
    position: relative;
    overflow: hidden;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    @media (min-width: 200px) {
      display: grid;
      grid-template-columns: 1fr;
    }
    @media (min-width: 650px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 650px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .circle {
    position: absolute;
    top: 0;
    width: 450px;
  }
  .card_pricing {
    padding: 64px 0;
    background: #f4f6fc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    @media (min-width: 200px) {
      width: 100%;
    }
    @media (min-width: 650px) {
    }
  }
  .pr_d {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #282938;
  }
  .pr {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #282938;
  }
  .b {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2405f2;
  }
  .p {
    /* Heading 6 */
    margin-top: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
  }
  .p2 {
    margin-top: 8px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    width: 60%;
    text-align: center;
  }
  ul {
    margin-top: 78px;
    text-align: left;
    padding-left: 0 !important;
    li {
      margin-top: 20px;
    }
  }
  .pricing_btn {
    margin-top: 79px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #f4f6fc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 51px;
    gap: 10px;
    background: #282938;
    border-radius: 41px;
    text-decoration: none;
    transition: 0.3s ease-out;
  }
  .card_pricing:hover {
    background: #1c1e53;
    transition: 0.3s ease-out;
    .pr_d,
    .p,
    .p2 {
      color: #fff;
    }
    .b {
      color: rgb(227, 167, 56);
    }
    ul {
      color: #fff;
    }
    .pricing_btn {
      background: #fcd980;
      color: #1c1e53;
      &:hover {
        transform: translateY(-15px);
      }
    }
  }
}

.asked{
    margin: 0 auto;
    
}

.asked_container {
  margin-top: 128px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 675px){
    display: flex;
    flex-direction: column;
  }
  .asked{
    @media(max-width: 675px){
        text-align: center;
    }
  }
  .wd {
    @media (max-width: 675px){
        margin-top: 25px;
    }
    width: 100%;
  }
}

.accordion-item {
  button {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
  }
  .num {
    margin-right: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #2405f2;
  }
}
